* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
}

.header-section {
    text-align: center;
}

.header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.mischa-image {
  width: 30%;
  margin-top: 3%;
}

.your-special {
  font-size: 35px;
  color: white;
  padding-top: 8%;
}

.your-special h1 {
  font-weight: 100;
  text-transform: uppercase;
}

.book-button {
  margin: 5%;
}

.book-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: rgb(116,128,126);
  padding: 25px 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Lato',sans-serif;
}

.book-button a:hover {
  background: rgb(80, 80, 80);
  transition: 0.8s;
}

.header-par {
  margin: 10% 30px;
}

.header-par-border {
  border-top: 3px solid rgb(211,219,218);
  border-bottom: 3px solid rgb(211,219,218);
  width: 85%;
  margin: 0 auto;
  padding: 40px 0px;
  text-align: center;
}

.header-par-border p {
  font-family: 'Questrial', sans-serif;
  color: rgb(76,76,76);
  font-size: 30px; 
  text-align: center;
  line-height: 1.8;
  padding: 0 15px;
}

.header-par-img {
 width: 50px;
 padding-top: 20px;
}

@media only screen and (max-width: 600px) {
.mischa-image {
  margin-top: 20%;
  width: 75%;
}
.your-special {
  font-size: 25px;
  margin-bottom: 20%;
}
.header-par-border {
  width: 100%;
}
.header-par-border p {
  padding: 0;
}
}