* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
}

.header-section {
  text-align: center;
}

.header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.mischa-image {
  width: 30%;
  margin-top: 3%;
}

.your-special {
  font-size: 35px;
  color: white;
  padding-top: 8%;
}

.your-special h1 {
  font-weight: 100;
  text-transform: uppercase;
}

.book-button {
  margin: 5%;
}

.book-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: rgb(116, 128, 126);
  padding: 25px 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.book-button a:hover {
  background: rgb(80, 80, 80);
  transition: 0.8s;
}

/* start of header paragraph */
.header-par {
  margin: 10% 30px;
}

.header-par-border {
  border-top: 3px solid rgb(211, 219, 218);
  border-bottom: 3px solid rgb(211, 219, 218);
  width: 85%;
  margin: 0 auto;
  padding: 40px 0px;
  text-align: center;
}

.header-par-border p {
  /* This is the font-family for all the text */
  font-family: "Questrial", sans-serif;
  color: rgb(76, 76, 76);
  font-size: 30px;
  text-align: center;
  line-height: 1.8;
  padding: 0 15px;
}

.header-par-img {
  width: 50px;
  padding-top: 20px;
}

/* end of header paragraph */

/* start of WHY WORK WITH ME */
.why-work {
  background-color: rgba(239, 240, 238, 1);
  font-family: "Questrial", sans-serif;
  color: rgb(76, 86, 82);
  padding: 80px 0;
}

.why-work-par-section {
  display: flex;
  padding-top: 80px;
  justify-content: space-around;
}

.why-work h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.why-work-par1 {
  margin-left: 175px;
  padding: 50px 50px;
  background-color: white;
  line-height: 2;
  width: 30%;
}

.why-work-par1 h2 {
  font-weight: 300;
  padding-bottom: 30px;
}

.why-work-par1 p {
  font-size: 20px;
  color: rgb(100, 99, 99);
}

.why-work-par2 {
  background-color: white;
}

.why-work-par2 {
  margin-right: 175px;
  padding: 50px 50px;
  background-color: white;
  line-height: 2;
  width: 30%;
}

.why-work-par2 h2 {
  font-weight: 300;
  padding-bottom: 30px;
}

.why-work-par2 p {
  font-size: 20px;
  color: rgb(100, 99, 99);
}

.why-work-par3 {
  background-color: white;
  line-height: 2;
  width: 69%;
  margin: 50px auto;
  padding: 20px 50px;
  font-family: "Questrial", sans-serif;
}

.why-work-par3 h2 {
  font-weight: 300;
}

.why-work-par3 p {
  font-size: 18px;
  color: rgb(100, 99, 99);
}

.why-work-par-button {
  display: flex;
}

.why-work-par-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: rgb(116, 128, 126);
  padding: 25px 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

.why-work-par-button a:hover {
  background: rgb(80, 80, 80);
  transition: 0.8s;
}
/* end of WHY WORK WITH ME */

/* start of wedding pictures */
.bridewoman-container {
  display: flex;
  width: 50%;
  margin: 8% auto 0;
}

.bride-section1 {
  flex-direction: row;
}

.couple-image {
  width: 60%;
  padding: 10px 0;
  object-fit: contain;
}

.white-bride-img {
  object-fit: contain;
  width: 60%;
  padding: 10px 0;
}

.bride-section2 {
  flex-direction: row;
}

.black-bride-img {
  width: 60%;
  object-fit: contain;
  padding-top: 10px;
  padding-left: 25px;
}

.bride-par {
  border-top-width: 3px;
  border-top-color: rgb(211, 219, 218);
  border-top-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(211, 219, 218);
  border-bottom-style: solid;
  margin: 30px 0 0 25px;
  padding: 25px 0;
}

.bride-img {
  text-align: center;
  padding-bottom: 20px;
}

.bride-img img {
  width: 8%;
}

.bride-par p {
  font-size: 22px;
  font-family: "Questrial", sans-serif;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 25px;
  color: rgb(76, 76, 76);
}

.bride-par-name {
  color: rgb(116, 128, 126);
  font-weight: 600;
}

.bride-par-name p {
  font-size: 18px;
}

.friends-image {
  width: 100%;
  text-align: center;
  margin-left: 25px;
}

.friends-image img {
  width: 95%;
  object-fit: contain;
  padding-top: 10px;
  margin: 25px 0 0 -25px;
}
/* end of wedding pictures */

/* start of how it works section */
.how-it-works-container {
  margin-top: 75px;
  background-color: rgba(239, 240, 238, 1);
  padding-bottom: 5%;
}

.how-it-works-section-container {
  display: flex;
  margin-bottom: 10%;
}

.how-it-works-container h1 {
  padding: 50px 0;
  text-align: center;
  font-family: Questrial;
  color: rgb(76, 86, 82);
  font-weight: 100;
}

.how-it-works-section1 {
  width: 25%;
  margin: 0 auto;
  background-color: white;
}

.how-it-works-heading h3 {
  padding: 40px 0 40px 0px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(211, 219, 218);
  border-bottom-style: solid;
  width: 60%;
  margin: 0 auto;
  font-family: Questrial;
  color: rgb(76, 86, 82);
  font-weight: 400;
  text-align: center;
}

.how-it-works-par h3 {
  padding: 40px 75px 40px;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  font-family: Questrial;
  color: rgb(76, 76, 76);
}

.how-it-works-button {
  display: flex;
}

.how-it-works-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: rgb(116, 128, 126);
  padding: 25px 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

.how-it-works-button a:hover {
  background: rgb(80, 80, 80);
  transition: 0.8s;
}
/* end of how it works section */

/* start of footer section */
.footer {
  background-color: #505050;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

/* start of footer section */

@media only screen and (max-width: 600px) {
  .mischa-image {
    margin-top: 20%;
    width: 75%;
  }
  .your-special {
    font-size: 25px;
    margin-bottom: 20%;
  }
  .header-par-border {
    width: 100%;
  }
  .header-par-border p {
    padding: 0;
  }
  .why-work-par-section {
    display: block;
  }
  .why-work-par1 {
    margin: 0 auto 30px;
    padding: 50px 30px;
    background-color: white;
    width: 80%;
  }
  .why-work-par2 {
    margin: 0 auto 30px;
    padding: 50px 30px;
    background-color: white;
    width: 80%;
  }
  .why-work-par3 {
    background-color: white;
    width: 80%;
    margin: 0 auto 30px;
    padding: 50px 30px;
  }
  .why-work-par-button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: rgb(116, 128, 126);
    padding: 25px 100px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
  }
  .bridewoman-container {
    display: block;
    width: 100%;
    text-align: center;
  }
  .couple-image {
    width: 100%;
    padding: 10px 0;
    object-fit: none;
  }
  .couple-image img {
    width: 60%;
    object-fit: contain;
  }
  .white-bride-img {
    object-fit: contain;
    width: 100%;
    padding: 10px 0;
  }
  .white-bride-img img {
    object-fit: contain;
    width: 60%;
  }

  .black-bride-img {
    width: 100%;
    object-fit: contain;
    padding-top: 10px;
    padding-left: 0px;
  }
  .black-bride-img img {
    width: 60%;
    object-fit: contain;
  }
  .bride-par {
    width: 77%;
    margin: 30px auto;
    border-top-width: 3px;
    border-top-color: rgb(211, 219, 218);
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(211, 219, 218);
    border-bottom-style: solid;
  }
  .friends-image {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  .friends-image img {
    width: 77%;
    object-fit: contain;
    padding-top: 10px;
    margin: 0 auto;
  }
  .how-it-works-section-container {
    display: block;
  }
  .how-it-works-section1 {
    width: 100%;
    margin: 30px auto;
    background-color: white;
  }
}
